<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="net40" />
  <package id="sharpcompress" version="0.8.2" targetFramework="net40" />
  <package id="System.IO.Abstractions" version="1.4.0.64" targetFramework="net40" />
</packages>